<!-- end of layout -->
</div>
<!-- 微信JS-SDK引入-->
    <script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script>
 	  function asyncLoad(src) {
        var s = document.createElement('script');
        s.src = src;
        s.async = true;
        document.head.appendChild(s);
      }
      function DO(){
		  this.cbs = [];
	  }
	  DO.prototype.on = function(k,cb){
		  if(!this.cbs[k]) {
			  this.cbs[k] = [];
		  }
		  this.cbs[k].push(cb);
	  };
	  DO.prototype.do = function(k,data){
		  if(!this.cbs[k])
		  return;
		  var cbs = this.cbs[k],len = cbs.length;
		  for(var i=0;i<len;i++){
			  cbs[i].call(this,data);
		  }
	  };

	  asyncLoad('/api/shop/getWechatConfig?' + location.href);

	  var d = new DO();
	  d.on('wechatConfig-ready',function(config){
		  wx.config({
			debug: false,
			appId: 'wx6445a3a7da24ef44',
			timestamp: config.timestamp,
			nonceStr: config.nonceStr,
			signature: config.signature,
			jsApiList: config.jsApiList.replace(/'/g,'').split(',')
		  });
	  });

	  d.on('wechatConfig-error',function(){
        console && console.log && console.log('微信接口请求错误，请刷新页面');
      });
    </script>
{{if shopEnv.isTestEnv}}
	<script type="text/javascript" src="//assets.showjoy.net/joyf2e/vendor/gmu/zepto.min.js"></script>
	<script type="text/javascript" src="//assets.showjoy.net/joyf2e/vendor/gmu/gmu.min.js"></script>
{{else}}
	<script type="text/javascript" src="//cdn1.showjoy.com/{{shopEnv.gv_vendorRoot}}/gmu/??zepto.min.js,gmu.min.js?v=2016111614"></script>
{{/if}}

<!-- TODO:须注意的是，带有sourceMap的js文件，无法使用concat机制；concat默认将两个或多个文件直接拼接在一起，因此sourceMap注释部分会影响到其他js -->
<script type="text/javascript" src="{{shopEnv.cdn}}/{{shopEnv.gv_wapPageRoot}}/shop-header/shop-header.min.js"></script>
<script type="text/javascript" src="{{shopEnv.cdn}}/{{shopEnv.gv_wapPageRoot}}/{{pageName}}/{{pageName}}.min.js"></script>
<script>
	$.ajax({
		url:'//fp.showjoy.{{if shopEnv.isTestEnv}}net{{else}}com{{/if}}/trace',
		data: {
			url: location.href,
			refer: document.referrer
		},
		dataType: 'jsonp'
	});
</script>

<script>
	var fpClickTimer;
	var fpClickDelay = 200;
	$(window).on('click',function(ev){
		if(fpClickTimer){
		  clearTimeout(fpClickTimer);
		}
		fpClickTimer = setTimeout(function(){
		  $.ajax({
			url: '//fp.showjoy.{{if shopEnv.isTestEnv}}net{{else}}com{{/if}}/click',
			dataType: 'jsonp',
			data: {
				url: location.href,
				coordinate: '(' + ev.clientX + ',' + ev.clientY + ')',
				resolution: window.screen.width + ',' + window.screen.height
			}
		  });
		},fpClickDelay);
	});
</script>

</body>
</html>