    <div id="content">
        <section class="section slider">
            <div class="slider-wrap" id="J_FirstScreenSlider">
                {{each homePage.pageBO.moduleMap['活动banner'] as value index}}
                    {{if homePage.pageBO.moduleMap['活动banner'][index]['recordMap']['图片地址']['value']}}
                    <div>
                        <a href="{{homePage.pageBO.moduleMap['活动banner'][index]['recordMap']['图片地址']['value']}}"><img lazyload="{{homePage.pageBO.moduleMap['活动banner'][index]['recordMap']['图片地址']['value']}}" /></a>
                    </div>
                    {{/if}}
                {{/each}}
            </div>
        </section>
        <section class="section shorcut">
            <div class="section-content">
                <div class="section-item">
                    <a href="{{commonEnv.mobileListServerName}}/search/?comeFrom=cate">
                        <div class="item-img">
                            <span class="icon-store"></span>
                        </div>
                        <div class="item-text">商品库</div>
                    </a>
                </div>
                <div class="section-item">
                    <a href="{{commonEnv.mobileCartServerName}}/mycart.html">
                        <div class="item-img">
                            <span class="icon-packet"></span>
                        </div>
                        <div class="item-text">购物袋</div>
                    </a>
                </div>
                <div class="section-item">
                        <a href="{{if gv_user}} {{commonEnv.mobileUserServerName}}/u/info.html {{else}} {{commonEnv.loginServerName}}/?service={{service}}&redirect_uri={{loginRedirectUri}} {{/if}}">
                            <div class="item-img">
                                <span class="icon-man"></span>
                            </div>
                            <div class="item-text">我的</div>
                        </a>
                </div>
                <div class="section-item">
                    <a href="{{commonEnv.mobileTryServerName}}">
                        <div class="item-img">
                            <span class="icon-try"></span>
                        </div>
                        <div class="item-text">试用</div>
                    </a>
                </div>
                <div class="section-item">
                    <a href="{{commonEnv.mobileGrouponServerName}}">
                        <div class="item-img">
                            <span class="icon-tag"></span>
                        </div>
                        <div class="item-text">特卖</div>
                    </a>
                </div>
            </div>
        </section>
	<!--TODO:	#if($!{gv_user})-->
        {{if login}}
            <section class="section meilibao">
              <a href="{{commonEnv.mobileUserServerName}}/u/eightBank.html" class="section-left"></a>
			  <a href="{{commonEnv.mobileUserServerName}}/u/eightBank.html">
                  <div class="section-right {{if login}} flex {{/if}}">
        				<div class="col strong">
                          <div class="value">￥{{homePage.yesterdayIncome}}</div>
                          <div class="name">昨日收益</div>
                        </div>
                        <div class="col">
                          <div class="value">￥{{homePage.totalIncome}}</div>
                          <div class="name">累计收益</div>
                        </div>
                        <div class="col">
                          <div class="value">￥{{homePage.commission}}</div>
                          <div class="name">可用余额</div>
                        </div>
                  </div>
			  </a>
            </section>					
		{{else}}
            <section class="section meilibao">
        		<a href="/eightBank/guide"><img src="{{commonEnv.cdnUrl}}/images/21/21d78641927641e78cb70eb029be6792.png" src="{{commonEnv.cdnUrl}}/images/20/201e61e8199842cebcff51c72149ab09.png"/></a>
        	</section>
		{{/if}}
        <section class="section feature">
			{{if login}}
				<a href="{{homePage['pageBO']['moduleMap']['活动banner位'][0]['recordMap']['链接地址']['value']}}" class="feature-left" style="background-image:url({{homePage['pageBO']['moduleMap']['活动banner位'][0]['recordMap']['图片地址']['value']}});">{{homePage['pageBO']['moduleMap']['活动banner位'][0]['recordMap']['描述']['value']}}</a>
	            <a href="{{homePage['pageBO']['moduleMap']['活动banner位'][1]['recordMap']['链接地址']['value']}}" class="feature-right-top" style="background-image:url({{homePage['pageBO']['moduleMap']['活动banner位'][1]['recordMap']['图片地址']['value']}});">新人专享200元大礼包{{homePage['pageBO']['moduleMap']['活动banner位'][1]['recordMap']['描述']['value']}}</a>
	            <a href="{{homePage['pageBO']['moduleMap']['活动banner位'][2]['recordMap']['链接地址']['value']}}" class="feature-right-bottom" style="background-image:url({{homePage['pageBO']['moduleMap']['活动banner位'][2]['recordMap']['图片地址']['value']}});">{{homePage['pageBO']['moduleMap']['活动banner位'][2]['recordMap']['描述']['value']}}</a>
        	{{else}}
        		<a href="{{homePage['pageBO']['moduleMap']['未登录状态活动banner位'][0]['recordMap']['链接地址']['value']}}" class="feature-left" style="background-image:url({{homePage['pageBO']['moduleMap']['未登录状态活动banner位'][0]['recordMap']['图片地址']['value']}});">{{if homePage['pageBO']['moduleMap']['未登录状态活动banner位'][0]['recordMap']['描述']}}{{homePage['pageBO']['moduleMap']['未登录状态活动banner位'][0]['recordMap']['描述']['value']}} {{/if}}</a>
	            <a href="{{homePage['pageBO']['moduleMap']['未登录状态活动banner位'][1]['recordMap']['链接地址']['value']}}" class="feature-right-top" style="background-image:url({{homePage['pageBO']['moduleMap']['未登录状态活动banner位'][1]['recordMap']['图片地址']['value']}});">新人专享200元大礼包{{if homePage['pageBO']['moduleMap']['未登录状态活动banner位'][1]['recordMap']['描述']}}{{homePage['pageBO']['moduleMap']['未登录状态活动banner位'][1]['recordMap']['描述']['value']}} {{/if}}</a>
	            <a href="{{homePage['pageBO']['moduleMap']['未登录状态活动banner位'][2]['recordMap']['链接地址']['value']}}" class="feature-right-bottom" style="background-image:url({{homePage['pageBO']['moduleMap']['未登录状态活动banner位'][2]['recordMap']['图片地址']['value']}});">{{if homePage['pageBO']['moduleMap']['未登录状态活动banner位'][2]['recordMap']['描述']}}{{homePage['pageBO']['moduleMap']['未登录状态活动banner位'][2]['recordMap']['描述']['value']}} {{/if}}</a>
        	{{/if}}
        </section>

        <section class="section seckill">
        <header class="section-header">
            <h2 class="section-title"><strong>限时特卖</strong><small>爆款最低价</small></h2>
            <div class="section-right"><a href="{{channelEnv.mobileGrouponServerName}}">全部特卖》</a>
            </div>
            <div class="module-coutdown j_coutdown" data-servertime="{{execJS: new Date(homePage.now).getTime()| echo}}" data-endtime="{{endTime}}"></div>
        </header>
        <div class="section-content">
            {{each homePage.grouponVOs as value index}}
                {{if value}}
                <div class="section-item">
                    <a href="{{channelEnv.mobileMarketServerName}}/groupon/{{value.id}}.html">
                        <div class="item-preview">
                            <div class="saletip">{{value.discount}}<small>折</small>
                            </div>
                            <img class="lazyload" data-original="{{value.image}}.380x380.png" src="{{commonEnv.cdnUrl}}/images/20/201e61e8199842cebcff51c72149ab09.png">
                        </div>
                        <div class="item-detail">
                            <h3 class="title">{{value.grouponName}}</h3>
                            <p class="description">{{value.description}}</p>
                            <div class="function-area">
                                <div class="price"><small>￥</small>{{value.price}}</div>
                                <div class="buy-numer">{{value.buyNum}}人 已购买</div>
                                <div class="buy-btn">去抢购</div>
                            </div>
                        </div>
                    </a>
                </div>
                {{/if}}
            {{/each}}
        </section>

        <section class="section try">
            <header class="section-header">
                <h2 class="section-title"><strong>试用优选</strong><small>最热门的试用商品</small></h2>
                <div class="section-right">
                    <a href="{{channelEnv.mobileTryServerName}}">更多试用》</a>
                </div>
            </header>
            <div class="section-content">
                {{if homePage.pageBO.moduleMap['热门试用']['length']}}
                    {{each homePage.pageBO.moduleMap['热门试用'] as value index}}
                        <div class="section-item">
                            <a href="{{value.recordMap['链接地址']['value']}}">
                                <div class="item-preview">
                                    <div class="try-brand">
                                        <img class="lazyload" data-original="{{value.recordMap["品牌图片地址"]['value']}}.380x380.png" src="{{commonEnv.cdnUrl}}/images/20/201e61e8199842cebcff51c72149ab09.png">
                                    </div>
                                    <img class="lazyload" data-original="{{value.recordMap["单品图地址"]['value']}}.380x380.png" src="{{commonEnv.cdnUrl}}/images/20/201e61e8199842cebcff51c72149ab09.png">
                                </div>
                                <div class="item-detail">
                                    <h3 class="title">{{value.recordMap["单品名称"]['value']}}</h3>
                                    <div class="point-info"><strong>{{value.recordMap["试用所需积分"]['value']}}</strong>积分</div>
                                </div>
                            </a>
                        </div>
                    {{/each}}
                {{/if}}
            </div>
        </section>



        <section class="section functions">
            <header class="section-header">
                <h2 class="section-title"><strong>{{homePage.pageBO.moduleMap["7区块"][0]['recordMap']["区块名称"]['value']}}</strong></h2>
            </header>

            <div class="section-content">
                {{each homePage.pageBO.moduleMap["7区块"] as value index}}
                    {{if value}}
                        <div class="section-item">
                        <a href="{{value.recordMap["链接地址"]['value']}}">
                            <div class="item-preview">
                                <img class="lazyload" data-original="{{value.recordMap["图片地址"]['value']}}.220x220.png" src="{{commonEnv.cdnUrl}}/images/20/201e61e8199842cebcff51c72149ab09.png">
                            </div>
                            <div class="title">{{value.recordMap["描述"]['value']}}</div>
                        </a>
                    </div>
                    {{/if}}
                {{/each}}
            </div>
        </section>

        <section class="section brands">
            <header class="section-header">
                <h2 class="section-title"><strong>热门品牌</strong></h2>
                <div class="section-right">
                    <a href="{{channelEnv.mobileBrandServerName}}">更多》</a>
                </div>
            </header>
            <div class="section-content">
                {{each homePage.pageBO.moduleMap["热门品牌"] as value index}}
                    {{if value}}
                        <div class="section-item">
                        <a href="{{value.recordMap["链接地址"]['value']}}">
                            <div class="item-preview" style="background-image: url({{value.recordMap["图片地址"]['value']}});"></div>
                            <div class="title">{{value.recordMap["品牌名称"]['value']}}</div>
                        </a>
                    </div>
                    {{/if}}
                {{/each}}
            </div>
        </section>

        <section class="section hotsell">
            <header class="section-header">
                <h2 class="section-title"><strong>热销榜单</strong></h2>
            </header>
            <div class="section-content">
                {{each homePage.pageBO.moduleMap["热销榜单"] as value index}}
                    {{if value}}
                        <div class="section-item">
                        <a href="{{value.recordMap["链接地址"]['value']}}">
                            <div class="item-preview">
                                {{if index == 0}} <div class="hotsell-top top1"></div> {{/if}}
                                {{if index == 1}} <div class="hotsell-top top2"></div> {{/if}}
                                {{if index == 2}} <div class="hotsell-top top3"></div> {{/if}}
                                <img class="lazyload" data-original="{{value.recordMap["图片地址"]['value']}}.420x420.png" src="{{commonEnv.cdnUrl}}/images/20/201e61e8199842cebcff51c72149ab09.png">
                            </div>
                            <div class="item-detail">
                                <h3 class="title">{{value.recordMap["商品名称"]['value']}}</h3>
                                <div class="sell-info">
                                    <strong><small>￥</small>{{value.recordMap["单价"]['value']}}</strong>已售{{value.recordMap["已售数量"]['value']}}件
                                </div>
                            </div>
                        </a>
                    </div>
                    {{/if}}
                {{/each}}
            </div>
        </section>

		<div id="promise-homepage"><div class="promise-homepage-inner"><a href="{{channelEnv.mobileHomeServerName}}/u/advantage.html"><img class="lazyload" data-original="{{commonEnv.cdnUrl}}/images/08/0897d95dc3d6464bba1929e6021e9639.png" src="{{commonEnv.cdnUrl}}/images/20/201e61e8199842cebcff51c72149ab09.png"/></a></div></div>
    </div>
