<!DOCTYPE HTML>
<html>
<head>
    <title>您访问的页面不存在</title>
    <meta charset="utf-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta property="wb:webmaster" content="c595e111b0fe6363" />
    <meta name="viewport" content="width=375">
	{{if shopEnv.isTestEnv}}
		<link rel="stylesheet" type="text/css" href="//assets.showjoy.net/joyf2e/vendor/gmu/reset.css" />
		<link rel="stylesheet" type="text/css" href="//assets.showjoy.net/joyf2e/vendor/gmu/gmu.min.css" />
		<link href="{{shopEnv.cdn}}/{{shopEnv.gv_wapPageRoot}}/shop-header/shop-header.min.css" rel="stylesheet" />
		<link href="{{shopEnv.cdn}}/{{shopEnv.gv_wapPageRoot}}/shop-footer/shop-footer.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="//cdn1.showjoy.com/assets/f2e/joyf2e/vendor/0.1.7/iconfont/talent-iconfont/icon.min.css" />
	{{else}}
		<link rel="stylesheet" type="text/css" href="//cdn1.showjoy.com/{{shopEnv.gv_vendorRoot}}/??gmu/reset.css,gmu/gmu.min.css?v=2016111614" />
		<link rel="stylesheet" type="text/css" href="//cdn1.showjoy.com/{{shopEnv.gv_vendorRoot}}/iconfont/talent-iconfont/icon.min.css?v=2016111614" />
		<link href="{{shopEnv.cdn}}/{{shopEnv.gv_wapPageWithConcatRoot}}/{{shopEnv.gv_wapPageConcatPath}}/??shop-header/shop-header.min.css,shop-footer/shop-footer.min.css?v=2016111614" rel="stylesheet" />
	{{/if}}

	<title>抱歉，该页面不存在~</title>
	{{if shopEnv.isTestEnv}}
        <script type="text/javascript" src="//assets.showjoy.net/joyf2e/vendor/flexible/flexible-min.js"></script>
    {{else}}
        <script type="text/javascript" src="//cdn1.showjoy.com/{{shopEnv.gv_vendorRoot}}/flexible/flexible-min.js"></script>
    {{/if}}

	<style>
            #content .wrapper{
                padding-top: 100px;
                width: 226px;
                margin: 0 auto;
                position: relative;
            }

            #content .msg{
                position: absolute;
                bottom: 170px;
                left: 65px;
                color: #4b3656;
                font-size: 14px;
                line-height: 21px;
            }

            .j_GoBack {
                display: none;
            }
        </style>
</head>

<body>
    <div id="header" class="ui-toolbar j_Header">
        <h1 class="ui-toolbar-title j_Title">抱歉，该页面不存在~</h1>
    </div>
    <div id="layout">
        <div id="content">
            <div class="wrapper">
                <p class="msg">页面不存在</p>
                <img src="{{commonEnv.cdnUrl}}/images/73/730c8864c0a4461c85223a7dbeced799.png" width=226 />
            </div>
        </div>
    </div>
</body>

</html>