<div>{{name}}</div>
<p>{{execJS: var abc = new Date($data.time);}}</p>

<span>
{{if name}}
abcdefg
{{else}}
higklmn
{{/if}}
</span>

<div>{{abc}}</div>

{{execJS: function test(ac){
    return 'hello wolrd';
}
}}

{{execJS: var ret = test();}}
{{ret}}

<div>测试execJS | echo</div>

{{execJS: '<html>document.documentElement</html>' | echo}}
{{execJS: '<div>document.documentElement</div>' | #echo}}

<div>test()结果</div>
{{execJS: test();|echo}}