<script src="{{channelEnv.gv_wapPageRoot}}/{{pageName}}/{{pageName}}.min.js" type="text/javascript"></script>

<!-- include '../common/static'  -->
<!--#set($isDoaTrack="1") ##显隐之尘站内流量跟踪
<script>
var collectAddress='http://doa.showjoy.{{if commonEnv.isTestEnv}}net{{else}}com{{/if}}/collect';
var _maq = _maq || [];
_maq.push(['params', 'cartSkuIds:#foreach($cart in $!{carts})$!{cart.cartItem.id}#if($velocityCount<${carts.size()}),#end#end']);
(function() {
    var ma = document.createElement('script'); ma.type = 'text/javascript'; ma.async = true;
    ma.src = "http://cdn1.showjoy.com/assets/f2e/joyf2e/vendor/0.0.5/doa/doa.js";
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ma, s);
})();
</script> -->
</body>
</html>