<script>
 var __showjoyDSP = window.__showjoyDSP || {};
  (function() {
    $(window).on('load',function(){
      var a = document;
      __showjoyDSP.script = a.createElement('script');
      __showjoyDSP.script.type = 'text/javascript';
      __showjoyDSP.script.async = true;
      if (a && a.location && a.location.protocol && "https:" == a.location.protocol.toString().toLowerCase()) {
		__showjoyDSP.script.src = "//{{if commonEnv.isTestEnv}} market.m.showjoy.net{{else}}market.m.showjoy.com{{/if}}/getImplantJs?url=" + location.href;
		} else {
		__showjoyDSP.script.src = "//{{if commonEnv.isTestEnv}}market.m.showjoy.net{{else}}market.m.showjoy.com{{/if}}/getImplantJs?url=" + location.href;
		}
      var s = a.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(__showjoyDSP.script, s);
    });
  })();
</script>

<script>
$.ajax({
	url:'//fp.showjoy.{{if commonEnv.isTestEnv}}net{{else}}com{{/if}}/trace',
	data: {
        url: location.href
    },
	dataType: 'jsonp'
});
</script>

<script>
var fpClickTimer;
var fpClickDelay = 200;
$(window).on('click',function(ev){
    if(fpClickTimer){
      clearTimeout(fpClickTimer);
    }
    fpClickTimer = setTimeout(function(){
      $.ajax({
        url: '//fp.showjoy.{{if commonEnv.isTestEnv}}net{{else}}com{{/if}}/click',
        dataType: 'jsonp',
        data: {
        	url: location.href,
          	coordinate: '(' + ev.clientX + ',' + ev.clientY + ')',
		  	resolution: window.screen.width + ',' + window.screen.height
        }
      });
    },fpClickDelay);
});
</script>

<!-- 显隐之尘站内流量跟踪 -->
<script >
var collectAddress='//doa.showjoy.{{if commonEnv.isTestEnv}}net{{else}}com{{/if}}/collect';
var _maq = _maq || [];
(function() {
    var ma = document.createElement('script'); ma.type = 'text/javascript'; ma.async = true;
    ma.src = "{{commonEnv.cdnUrl}}/assets/sea-modules/portal/4.40.0/page/doa.js";
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ma, s);
})();
</script>